/* ------------ MATRICE CSS ------------ */

/* BACKGROUND COLOR */
.bg_black{background-color: black;}
.bg_azure{background-color: azure;}
.bg_beige{background-color: beige;}
.bg_blue{background-color: blue;}
.bg_brown{background-color: brown;}
.bg_darkblue{background-color: darkblue;}
.bg_darkgray{background-color: darkgray;}
.bg_darkgreen{background-color: darkgreen;}
.bg_darkorange{background-color: darkorange;}
.bg_gold{background-color: gold;}
.bg_gray{background-color: gray;}
.bg_green{background-color: green;}
.bg_grey{background-color: grey;}
.bg_hotpink{background-color: hotpink;}
.bg_indigo{background-color: indigo;}
.bg_ivory{background-color: ivory;}
.bg_kaki{background-color: khaki;}
.bg_lightcyan{background-color: lightcyan;}
.bg_lightgreen{background-color: lightgreen;}
.bg_lightgrey{background-color: lightgrey;}
.bg_lightpink{background-color: lightpink;}
.bg_lightskyblue{background-color: lightskyblue;}
.bg_lightyellow{background-color: lightyellow;}
.bg_midnightblue{background-color: midnightblue;}
.bg_olive{background-color: olive;}
.bg_orange{background-color: orange;}
.bg_pink{background-color: pink;}
.bg_purple{background-color: purple;}
.bg_red{background-color: red;}
.bg_royalblue{background-color: royalblue;}
.bg_saddlebrown{background-color: saddlebrown;}
.bg_salmon{background-color: salmon;}
.bg_silver{background-color: silver;}
.bg_turquoise{background-color: turquoise;}
.bg_violet{background-color: violet;}
.bg_white{background-color: white;}
.bg_yellow{background-color: yellow;}

/* WIDTH */

.percent5{width: 5%;}
.percent10{width: 10%;}
.percent15{width: 15%;}
.percent20{width: 20%;}
.percent25{width: 25%;}
.percent30{width: 30%;}
.percent35{width: 35%;}
.percent40{width: 40%;}
.percent45{width: 45%;}
.percent50{width: 50%;}
.percent55{width: 55%;}
.percent60{width: 60%;}
.percent65{width: 65%;}
.percent70{width: 70%;}
.percent75{width: 75%;}
.percent80{width: 80%;}
.percent85{width: 85%;}
.percent90{width: 90%;}
.percent95{width: 95%;}
.percent100{width: 100%;}

.vw5{width: 5vw;}
.vw10{width: 10vw;}
.vw15{width: 15vw;}
.vw20{width: 20vw;}
.vw25{width: 25vw;}
.vw30{width: 30vw;}
.vw35{width: 35vw;}
.vw40{width: 40vw;}
.vw45{width: 45vw;}
.vw50{width: 50vw;}
.vw55{width: 55vw;}
.vw60{width: 60vw;}
.vw65{width: 65vw;}
.vw70{width: 70vw;}
.vw75{width: 75vw;}
.vw80{width: 80vw;}
.vw85{width: 85vw;}
.vw90{width: 90vw;}
.vw95{width: 95vw;}
.vw100{width: 100vw;}

/* HEIGHT */

.hpercent5{height: 5%;}
.hpercent10{height: 10%;}
.hpercent15{height: 15%;}
.hpercent20{height: 20%;}
.hpercent25{height: 25%;}
.hpercent30{height: 30%;}
.hpercent35{height: 35%;}
.hpercent40{height: 40%;}
.hpercent45{height: 45%;}
.hpercent50{height: 50%;}
.hpercent55{height: 55%;}
.hpercent60{height: 60%;}
.hpercent65{height: 65%;}
.hpercent70{height: 70%;}
.hpercent75{height: 75%;}
.hpercent80{height: 80%;}
.hpercent85{height: 85%;}
.hpercent90{height: 90%;}
.hpercent95{height: 95%;}
.hpercent100{height: 100%;}

.vh5{height: 5vh;}
.vh10{height: 10vh;}
.vh15{height: 15vh;}
.vh20{height: 20vh;}
.vh25{height: 25vh;}
.vh30{height: 30vh;}
.vh35{height: 35vh;}
.vh40{height: 40vh;}
.vh45{height: 45vh;}
.vh50{height: 50vh;}
.vh55{height: 55vh;}
.vh60{height: 60vh;}
.vh65{height: 65vh;}
.vh70{height: 70vh;}
.vh75{height: 75vh;}
.vh80{height: 80vh;}
.vh85{height: 85vh;}
.vh90{height: 90vh;}
.vh95{height: 95vh;}
.vh100{width: 100vh;}

/* DISPLAY */

.fx{display:flex}
.dnone{display: none;}
.dinline{display: inline;}
.dblock{display: block;}


/* FLEXBOX */

.row{flex-direction: row;}
.rowrv{flex-direction: row-reverse;}
.col{flex-direction: column;}
.colrv{flex-direction: column-reverse;}

.wrap{flex-wrap: wrap;}
.wraprv{flex-wrap: wrap-reverse;}

.jcstart{justify-content: flex-start;}
.jcend{justify-content: flex-end;}
.jccenter{justify-content: center;}
.jcbetween{justify-content: space-between;}
.jcaround{justify-content: space-around;}
.jcevenly{justify-content: space-evenly;}

.selfstart{align-self: flex-start;}
.selfend{align-self: flex-end;}
.selfauto{align-self: auto;}

.aitemstart{align-items: flex-start;}
.aitemsend{align-items: flex-end;}
.aitemscenter{align-items: center;}
.aitemstretch{align-items: stretch;}
.aitemsline{align-items: baseline;}

.acstart{align-content: flex-start;}
.acend{align-content: flex-end;}
.acenter{align-content: center;}
.acaround{align-content:space-around;}
.acbetween{align-content: space-between;}
.acstretch{align-content: stretch;}


/* TEXT/BOX-SHADOW */

.blackshadow{box-shadow: 5px 10px;}
.greyshadow{box-shadow: 3px 3px 3px #888888;}
.blacktext{text-shadow: 3px 3px 3px black;}


/* FILTER */

.blur{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:blur(5px);}
.bright{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:brightness(200%);}
.contrast{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:contrast(200%);}
.grey{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:grayscale(100%);}
.invert{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:invert(100%);}
.sepia{-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter:sepia(100%);}


/* LISTE */

.liste{
    list-style-type: none;
    text-decoration: none;
    color: black;
}


/* POSITION */

.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.sticky{position: sticky;}


/* VISIBILITY */

.visible{visibility: visible;}
.hidden{visibility: hidden;}


/*  Z-INDEX */

.front{z-index: 5;}
.back{z-index: -5;}


/* OVERFLOW  */

.ofscroll{overflow: scroll;}
.ofhidden{overflow: hidden;}


/* EXTREM */

.top{top: 0px;}
.bottom{bottom: 0px;}
.left{left: 0px;}
.right{right: 0px;}


/* BORDER */

.currentColorBBorder{border: currentColor 1px black;}
.dashedBBorder{border: dashed 1px black;}
.dottedBBorder{border: dotted 1px black;}
.doubleBBorder{border: double 1px black;}
.grooveBBorder{border: groove 1px black;}
.hiddenBBorder{border: hidden 1px black;}
.mediumBBorder{border: medium 1px black;}
.noneBBorder{border: none 1px black;}
.outsetBBorder{border: outset 1px black;}
.ridgeBBorder{border: ridge 1px black;}
.solidBBorder{border: solid 1px black;}
.thickBBorder{border: thick 1px black;}
.thinBBorder{border: thin 1px black;}
.transparentBBorder{border: transparent 1px black;}


.currentColorWBorder{border: currentColor 1px white;}
.dashedWBorder{border: dashed 1px white;}
.dottedWBorder{border: dotted 1px white;}
.doubleWBorder{border: double 1px white;}
.grooveWBorder{border: groove 1px white;}
.hiddenWBorder{border: hidden 1px white;}
.mediumWBorder{border: medium 1px white;}
.noneWBorder{border: none 1px white;}
.outsetWBorder{border: outset 1px white;}
.ridgeWBorder{border: ridge 1px white;}
.solidWBorder{border: solid 1px white;}
.thickWBorder{border: thick 1px white;}
.thinWBorder{border: thin 1px white;}
.transparentWBorder{border: transparent 1px white;}


/* BORDER RADIUS */

.b_radius1{border-radius: 1px;}
.b_radius2{border-radius: 2px;}
.b_radius3{border-radius: 3px;}
.b_radius4{border-radius: 4px;}
.b_radius5{border-radius: 5px;}
.b_radius50{border-radius: 100%;}



/* BORDER COLLAPSE */

.b_collapse{border-collapse: collapse;}
.b_separate{border-collapse: separate;}


/* SCROLL BEHAVIOR */

.smoothScroll{scroll-behavior: smooth;}


/* COLOR */

.colorBlack{color: black;}
.colorWhite{color: white;}
.colorRed{color: red;}
.colorBordeau{color: #9e0b0f;}
.colorBlue{color: blue;}
.colorGrey{color: grey;}
.colorGreen{color: green;}
.colorOrange{color: orange;}
.colorPurple{color: purple;}


/* FONT SIZE */

.fontLarge{font-size: large;}
.fontLarger{font-size: larger;}
.fontMedium{font-size: medium;}
.fontSmall{font-size: small;}
.fontSmaller{font-size: smaller;}
.fontXL{font-size: x-large;}
.fontXXL{font-size: xx-large;}
.fontXS{font-size: x-small;}
.fontXXS{font-size: xx-small;}


/* MARGIN */

.margin1{margin: 1%;}
.margin2{margin: 2%;}
.margin3{margin: 3%;}
.margin4{margin: 4%;}
.margin5{margin: 5%;}
.margin6{margin: 6%;}
.margin7{margin: 7%;}
.margin8{margin: 8%;}
.margin9{margin: 9%;}
.margin10{margin: 10%;}


.marginTop1{margin-top: 1%;}
.marginTop2{margin-top: 2%;}
.marginTop3{margin-top: 3%;}
.marginTop4{margin-top: 4%;}
.marginTop5{margin-top: 5%;}
.marginTop6{margin-top: 6%;}
.marginTop7{margin-top: 7%;}
.marginTop8{margin-top: 8%;}
.marginTop9{margin-top: 9%;}
.marginTop10{margin-top: 10%;}


.marginBottom1{margin-bottom: 1%;}
.marginBottom2{margin-bottom: 2%;}
.marginBottom3{margin-bottom: 3%;}
.marginBottom4{margin-bottom: 4%;}
.marginBottom5{margin-bottom: 5%;}
.marginBottom6{margin-bottom: 6%;}
.marginBottom7{margin-bottom: 7%;}
.marginBottom8{margin-bottom: 8%;}
.marginBottom9{margin-bottom: 9%;}
.marginBottom10{margin-bottom: 10%;}


.marginLeft1{margin-left: 1%;}
.marginLeft2{margin-left: 2%;}
.marginLeft3{margin-left: 3%;}
.marginLeft4{margin-left: 4%;}
.marginLeft5{margin-left: 5%;}
.marginLeft6{margin-left: 6%;}
.marginLeft7{margin-left: 7%;}
.marginLeft8{margin-left: 8%;}
.marginLeft9{margin-left: 9%;}
.marginLeft10{margin-left: 10%;}


.marginRight1{margin-right: 1%;}
.marginRight2{margin-right: 2%;}
.marginRight3{margin-right: 3%;}
.marginRight4{margin-right: 4%;}
.marginRight5{margin-right: 5%;}
.marginRight6{margin-right: 6%;}
.marginRight7{margin-right: 7%;}
.marginRight8{margin-right: 8%;}
.marginRight9{margin-right: 9%;}
.marginRight10{margin-right: 10%;}


/* PADDING */

.padding1{padding: 1%;}
.padding2{padding: 2%;}
.padding3{padding: 3%;}
.padding4{padding: 4%;}
.padding5{padding: 5%;}


.paddingTop1{padding-top: 1%;}
.paddingTop2{padding-top: 2%;}
.paddingTop3{padding-top: 3%;}
.paddingTop4{padding-top: 4%;}
.paddingTop5{padding-top: 5%;}


.paddingBottom1{padding-bottom: 1%;}
.paddingBottom2{padding-bottom: 2%;}
.paddingBottom3{padding-bottom: 3%;}
.paddingBottom4{padding-bottom: 4%;}
.paddingBottom5{padding-bottom: 5%;}


.paddingLeft1{padding-left: 1%;}
.paddingLeft2{padding-left: 2%;}
.paddingLeft3{padding-left:  3%;}
.paddingLeft4{padding-left: 4%;}
.paddingLeft5{padding-left: 5%;}


.paddingRight1{padding-right: 1%;}
.paddingRight2{padding-right: 2%;}
.paddingRight3{padding-right: 3%;}
.paddingRight4{padding-right: 4%;}
.paddingRight5{padding-right: 5%;}


/* OPACITY */

.opacity1{opacity: 0.1;}
.opacity2{opacity: 0.2;}
.opacity3{opacity: 0.3;}
.opacity4{opacity: 0.4;}
.opacity5{opacity: 0.5;}
.opacity6{opacity: 0.6;}
.opacity7{opacity: 0.7;}
.opacity8{opacity: 0.8;}
.opacity9{opacity: 0.9;}
.opacity10{opacity: 1;}


/* ROTATE */

.rotate45{rotate: 45deg;}
.rotate90{rotate: 90deg;}
.rotate135{rotate: 135deg;}
.rotate180{rotate: 180deg;}
.rotate225{rotate: 225deg;}
.rotate270{rotate: 270deg;}
.rotate315{rotate: 315deg;}


/* TEXT ALIGN */

.txtAlignCenter{text-align: center;}
.txtAlignEnd{text-align: end;}
.txtAlignJustify{text-align: justify;}
.txtAlignLeft{text-align: left;}
.txtAlignRight{text-align: right;}
.txtAlignStart{text-align: start;}


/* Z-INDEX */

.zIndex1{z-index: 1;}
.zIndex2{z-index: 2;}
.zIndex3{z-index: 3;}
.zIndex4{z-index: 4;}
.zIndex5{z-index: 5;}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



/* ---------- LET'S CODE NOW !!! ------- */

/*{border: 1px solid white;}*/

*{outline: none;}

/*Connection*/

.connection_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#jumbo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    position: relative;
    top: 0px;
    filter: drop-shadow(3px 3px 5px);
}

.connection_title {
    font-weight: bolder;
}

.connection_title_firstWord {
    font-family: "Charmonman";
    position: relative; 
    font-weight: bolder;
}

#warning {
    color: red;
}

.create_account_link {
    text-align: center; 
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .connection_container {
        height: 99vh;
    }
}



/*Register*/

.register_modal_container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    text-align: center; 
}

.register_input {
    width: 20vw;
}

#wrongConf {
    color: red; 
    text-align: center;
}

#uncompleteRegistration {
    color: red; 
    text-align: center;
}


@media screen and (max-width: 480px) {
    .register_input {
        width: 70vw;
    }
    
}



/*Navigation*/

.brand {
    position: absolute;
    left: 8vw;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.brand p {
    font-family: "Charmonman"; 
    position: absolute; 
    top: 1vh; 
    left: -25px;
}

.nav_container {
    display: flex;
    flex-flow: row;
    width: 35%;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.icon_container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: small;
    margin-right: 1%;
    width: 30%;
}

.shuttDown_button {
    width: 10%;
    cursor: pointer;
    margin-right: 1vw;
    margin-left: 1vw;
}

.username_title {
    width:40%;
    text-align: center;
}

.menu {
    visibility: hidden;
}

.nav_icons {
    width: 2vw;
    cursor: pointer;
}

.drawer {
    visibility: hidden;
}

.drawer_list {
    width: 250;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.drawer_fullList{
    width: 25vw;
}

.drawer_title {
    text-align: center;
}

.drawer_listIcons {
    display: flex;
    flex-flow: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.drawer_listIcons2 {
    display: flex;
    flex-flow: column;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}

.drawer_icons {
    width: 8vw;
}

#drawer_icons2 {
    font-size: 12vw;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .menu{
        visibility: visible;
    }

    .brand {
        left: 50vw;
    }

    .brand p {
        left: -7vw;
    }

    .nav_icons {
        visibility: hidden;
    }

    .username_title {
        display: none;
    }

    .icon_container {
        position: absolute;
        right: 1vw;
    }

    .drawer {
        visibility: visible;
    }
}


/*Memo*/

.memo_container {
    width: 40vw;
    min-height: 20vh;
    max-height: 80vh;
    background-image: url("../../images/tableau.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1%;
    margin: 1%;
    margin-top: 3%;
    display: flex;
    flex-flow: column;
}

.memo_title {
    text-align: center;
    padding: 1%; 
    margin-left: 16%;
}

.sticker_img {
    width: 35%;
    filter: drop-shadow(10px); 
    margin-right: 15%;
}

.memo_modalTitle_input {
    width: 50%;
    border: transparent;
    border-bottom: 1px solid gray;
    margin-right: 1vw;
    background-color: transparent;
    margin-right: 30%;
}

.memo_modalBody_textarea {
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    border: transparent; 
}

@media screen and (max-width: 480px) {
    .memo_container {
        display: none;
    }
}


/*Toolbar*/

.toolbar_container {
    display: flex;
    flex-flow: column;
    width: 7%;
    height: 82vh;
    margin: 1%;
    border-right: 1px solid lightgrey;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .toolbar_container {
        display: none;
    }
}


/*Messenger*/

.messenger_container {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 1%;
    height: 100%;
    width: 52%;
}

.messenger_title {
    text-align: center;
    border-radius: 1%;
    height: 3%; 
    padding: 1%;
    filter: drop-shadow(1px 2px 2px)
}

.messenger_notebox {
    max-height: 70vh;
}

.messenger_form {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 3vh;
    width: 75%;
    margin-left: 10%;
}

.messenger_form_input_container {
    width: 85%;
}

#message {
    width: 100%;
    margin-bottom: 2vh;
    margin-top: 1vh;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.messenger_form_footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: d;
}


@media screen and (max-width: 480px) {
    .messenger_container {
        width: 100vw;
    }

    .messenger_notebox {
        height: 60vh;
        max-height: 60vh;
        margin-bottom: 0vh;
    }

    .messenger_input_note {
        width: 98vw;
        height: 6vh;
        margin-bottom: 0vh;
        margin-top: 2vh;
    }

    .messenger_form_input_container {
        margin-top: 1vh;
        position: sticky;
    }

    #calendar {
        display: none;
    }

    #noteButton {
        width: 98vw;
        margin-bottom: 1vh;
    }
    
}


/*Message Load*/
.user_Message {
    width: 75%;
    font-size: small;
    margin-bottom: 2%;
    margin-left: 10%;
    filter: drop-shadow(2px 2px 2px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1vh;
}

.oldMessage {
    width: 75%;
    background-color: lightgrey;
    font-size: small;
    margin-bottom: 2%;
    margin-left: 10%;
}

.message_header {
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
}

.userMessage_footer {
    background-color: transparent;
    border: none;
    display: none;
}

.avatar_icon {
    display: none
}


@media screen and (max-width: 480px) {
    .message_header {
        display: none;
    }

    .user_Message {
        margin-left: 15vw;
    }

    #userMessage_footer {
        background-color: green;
        color: black;
    }

    #incomingMessage_footer {
        background-color:lightskyblue;
        color: black;
    }

    #oldMessage_footer {
        background-color:lightgrey;
        color: black;
    }

    .avatar_icon {
        display: flex;
        position: absolute;
        left: 2vw;
        bottom: 5%;
    }
}


/*Footer*/

.footer_container {
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
}


@media screen and (max-width: 480px) {
    .footer_container {
        display: none;
    }
}



/*Phone Page*/

.phone_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5%;
    text-align: center;
    width: 99vw;
    height: 85vh;
    padding: 10px;
}

.phone_title {
    margin-bottom: 3vh;
    text-align: center;
}

.phonePage_select {
    width: 83vw;
    height: 6vh;
    border: 1px solid lightgrey; 
    border-radius: 3px;
    background-color: white;
}

.phone_input {
    width: 85vw;
}

.phone_smallInput {
    width: 40vw;
}

.phone_textarea {
    width: 80vw;
    height: 15vh;
}

.phone_submitButton_container {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.phone_submitButton {
    width: 80vw;
}



/*CheckList*/

.checkList_title {
    text-align: center;
    color: white;
}

.checkList_input {
    width: 80%;
}

.checkList_allSelected_button {
    margin-bottom: 2vh;
}


/*PhoneCheckList.js*/

.phoneCheckList_container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
}

/*Dilema.js*/

.boomSkakalaka {
    background: rgb(25,23,25);
    background: linear-gradient(30deg, rgba(25,23,25,1) 0%, rgba(13,2,2,1) 50%, rgba(2,5,32,1) 100%);
}

.softSkin {
    background: rgb(255,255,255);
    background: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(254,250,250,1) 50%, rgba(243,244,255,1) 100%);
}

/*DarkNavigation.js*/

.darkBrand {
    position: absolute;
    left: 8vw;
    font-weight: bolder;
    font-size: 1.5em;
    text-decoration: none;
    color: orange;
    cursor: pointer;
}

.darkBrand p {
    font-family: "Charmonman"; 
    position: absolute; 
    top: 1vh; 
    left: -27px;
}

.dark_nav_container {
    display: flex;
    flex-flow: row;
    width: 35%;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.dark_icon_container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: small;
    margin-right: 1%;
    width: 30%;
}

.shuttDown_button {
    width: 10%;
    cursor: pointer;
    margin-right: 1vw;
    margin-left: 1vw;
}

.username_title {
    width:40%;
    text-align: center;
}

.menu {
    visibility: hidden;
}

.nav_icons {
    width: 2vw;
    cursor: pointer;
}

.drawer {
    visibility: hidden;
}

.drawer_list {
    width: 250;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.drawer_fullList{
    width: 25vw;
}

.drawer_title {
    text-align: center;
}

.drawer_listIcons {
    display: flex;
    flex-flow: column;
    height: 50vh;
    justify-content: space-around;
    align-items: center;
}

.drawer_listIcons2 {
    display: flex;
    flex-flow: column;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
}

.drawer_icons {
    width: 8vw;
}

#drawer_icons2 {
    font-size: 12vw;
    width: 100%;
}

@media screen and (max-width: 480px) {
    .menu{
        visibility: visible;
    }

    .brand {
        left: 50vw;
    }

    .brand p {
        left: -7vw;
    }

    .nav_icons {
        visibility: hidden;
    }

    .username_title {
        display: none;
    }

    .icon_container {
        position: absolute;
        right: 1vw;
    }

    .drawer {
        visibility: visible;
    }
}


/*DarkMessenger.js*/

.dark_messenger_container {
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 1%;
    height: 93%;
    width: 90%;
}

.dark_messenger_title {
    text-align: center;
    border-radius: 1%;
    padding: 1%;
    width: 100%;
}

.communizi_notebox {
    height: 61vh;
    margin-bottom: 5vh;
    padding: 1%;
}

.communizi_form {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-top: 1vh;
}

.communizi_form_input_container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-bottom: 3vh;
}

.karenStories_notebox {
    max-height: 62vh;
    margin-bottom: 5vh;
    padding: 1%;
}

.karenStories_form {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.karenStories_form_input_container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-bottom: 3vh;
}

#dark_message_note {
    width: 98%;
}

#dark_story {
    width: 98%;
    z-index: 5;
}

.moodList {
    display: none;
}

.moodListIcon {
    width: 5%; 
    border-radius: 50px;
    cursor: pointer;
    margin-bottom: 1vh;
}

.moodListIcon:hover {
    width: 6%;
}

.communizi_form_footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.karenStories_form_footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.dark_nav_icons {
    width: 3vw;
    cursor: pointer;
    filter: grayscale(100%)
}

.dark_nav_icons:hover {
    filter: none;
}

#communIzi {
    display: none;
}


@media screen and (max-width: 480px) {
    .dark_messenger_container {
        width: 100vw;
    }

    .communizi_notebox {
        height: 60vh;
        max-height: 60vh;
        margin-bottom: 0vh;
    }

    .communizi_input_note {
        width: 98vw;
        height: 6vh;
        margin-bottom: 0vh;
        margin-top: 2vh;
    }

    .communizi_form_input_container {
        margin-top: 1vh;
        position: sticky;
    }

    .karenStories_notebox {
        height: 60vh;
        max-height: 60vh;
        margin-bottom: 0vh;
    }

    .karenStories_input_note {
        width: 98vw;
        height: 6vh;
        margin-bottom: 0vh;
        margin-top: 2vh;
    }

    .karenStories_form_input_container {
        margin-top: 1vh;
        position: sticky;
    }

    #dark_noteButton {
        width: 98vw;
        margin-bottom: 1vh;
    }
    
}



/*Footer*/

.footer_container {
    display: flex;
    width: 100%;
    height: 7%;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: black;

}


@media screen and (max-width: 480px) {
    .footer_container {
        display: none;
    }
}



/*messageCommunIzi*/

.darkTextUser{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    height: auto;
    padding: 2%;
}

.darkTextBodyUser{
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: flex-end;
    max-width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(30, 52, 107);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px)
}

.darkTextOther{
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 2%;
}

.darkTextBodyOther{
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 80%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(123, 22, 22);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px)
}

.oldDarkTextUser{
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    height: auto;
    padding: 2%;
}

.oldDarkTextBodyUser{
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-items: flex-end;
    max-width: 80%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(33, 35, 39);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px) grayscale()
}

.oldDarkTextOther{
    display: flex;
    flex-flow: column;
    height: auto;
    padding: 2%;
}

.oldDarkTextBodyOther{
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 80%;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(67, 66, 66);
    padding: 15px;
    color: black;
    filter: drop-shadow(2px 2px 2px) grayscale()
}


/*karenStory*/

.comment {
    display: flex;
    flex-flow: column;
    width: fit-content;
    max-width: 80%;
    border-radius: 15px;
    background-color: rgb(67, 66, 66);
    padding: 1%;
}

.comment_section {
    display: none;
}


/*karenStories*/

#dark_message_story {
    width: 90%;
    height: 6vh;
    max-height: 10vh;
    resize: none;
    margin-bottom: 2vh;

}



